<div class="form-container">
  <h2>Edit Member - Address</h2>
  <form *ngIf="editMember">
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" [(ngModel)]="editMember.street" name="street" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="street2">Street 2</label>
      <input type="text" id="street2" [(ngModel)]="editMember.street2" name="street2" class="form-control">
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" [(ngModel)]="editMember.city" name="city" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="state" [(ngModel)]="editMember.state" name="state" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input type="text" id="postalCode" [(ngModel)]="editMember.postalCode" name="postalCode" class="form-control" required>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!isFormValid()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
